<h1> The Modafucking super duper list of restaurants</h1>

<h3><%= link_to "List new restaurant", new_restaurant_path %></h3>


<% @restaurants.each do |restaurant| %>
 <p><%= link_to restaurant_path(restaurant) do %>
  Name: <%= restaurant.name %> <br>
  Adress: <%= restaurant.address %>
  <% end %>
<% end %>

